Repository watarukura/saba_study: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, lint, taplo, actionlint

fmt:
  run: cargo fmt

lint:
  run: cargo clippy

taplo:
  run: taplo format

actionlint:
  run: actionlint

fix: path
  .github/workflows/lint.yml
Due: none

style: clippy
  saba_core/src/url.rs
Due: fmt, lint

feat: http
  Cargo.toml
  README.md
  net/wasabi/Cargo.toml
  net/wasabi/src/http.rs
  net/wasabi/src/lib.rs
  rust-toolchain.toml
  saba_core/src/error.rs
  saba_core/src/http.rs
  saba_core/src/lib.rs
  src/main.rs
Due: fmt, lint, taplo

test: add tests
  .editorconfig
  lefthook.yml
  saba_core/src/http.rs
  src/main.rs
Due: fmt, lint

ci: clippy target need workspace
  lefthook.yml
Due: none

feat: run on wasabi
  .envrc
  aqua.yaml
  net/wasabi/src/lib.rs
  src/main.rs
  test.html
Due: fmt

style: use order
  src/main.rs
Due: fmt

feat: chapter6
  saba_core/src/lib.rs
  saba_core/src/renderer/dom/mod.rs
  saba_core/src/renderer/dom/node.rs
  saba_core/src/renderer/dom/parser.rs
  saba_core/src/renderer/html/attribute.rs
  saba_core/src/renderer/html/mod.rs
  saba_core/src/renderer/html/token.rs
  saba_core/src/renderer/mod.rs
Due: fmt, lint

test: pass test_empty
  saba_core/src/renderer/dom/node.rs
  saba_core/src/renderer/dom/parser.rs
Due: fmt, lint

test: pass test_body
  saba_core/src/renderer/dom/parser.rs
Due: fmt, lint

style: fmt
  saba_core/src/renderer/dom/parser.rs
Due: fmt, lint

test: pass test_text
  saba_core/src/renderer/dom/parser.rs
Due: fmt, lint

test: pass test_multiple_nodes
  saba_core/src/renderer/dom/parser.rs
Due: fmt, lint

feat: run on wasabi
  saba_core/src/browser.rs
  saba_core/src/lib.rs
  saba_core/src/renderer/mod.rs
  saba_core/src/renderer/page.rs
  saba_core/src/util.rs
  src/main.rs
Due: fmt, lint

style: fmt
  saba_core/src/browser.rs
  saba_core/src/lib.rs
  saba_core/src/renderer/page.rs
  src/main.rs
Due: fmt, lint

feat: chapter5 css
  saba_core/src/renderer/css/mod.rs
  saba_core/src/renderer/css/token.rs
  saba_core/src/renderer/mod.rs
Due: fmt, lint

test: pass
  saba_core/src/renderer/css/token.rs
Due: fmt, lint

test: pass test_empty
  saba_core/src/browser.rs
  saba_core/src/renderer/css/cssom.rs
  saba_core/src/renderer/css/mod.rs
  saba_core/src/renderer/css/token.rs
Due: fmt, lint

test: pass test_one_rule, test_id_selector
  saba_core/src/renderer/css/cssom.rs
Due: fmt, lint

test: pass test_class_selector
  saba_core/src/renderer/css/cssom.rs
Due: fmt, lint

test: pass test_multiple_rules
  saba_core/src/renderer/css/cssom.rs
Due: fmt, lint

test: pass test_empty
  saba_core/src/constants.rs
  saba_core/src/lib.rs
  saba_core/src/renderer/dom/api.rs
  saba_core/src/renderer/dom/mod.rs
  saba_core/src/renderer/dom/node.rs
  saba_core/src/renderer/layout/computed_style.rs
  saba_core/src/renderer/layout/layout_object.rs
  saba_core/src/renderer/layout/layout_view.rs
  saba_core/src/renderer/layout/mod.rs
  saba_core/src/renderer/mod.rs
Due: fmt, lint

test: pass test_body, test_text, test_display_none
  saba_core/src/renderer/dom/api.rs
  saba_core/src/renderer/layout/computed_style.rs
  saba_core/src/renderer/layout/layout_object.rs
  saba_core/src/renderer/layout/layout_view.rs
Due: fmt, lint

test: pass test_hidden_class
  saba_core/src/renderer/layout/layout_view.rs
Due: fmt, lint

feat: display_items
  saba_core/src/display_item.rs
  saba_core/src/lib.rs
  saba_core/src/renderer/layout/layout_object.rs
  saba_core/src/renderer/layout/layout_view.rs
  saba_core/src/renderer/page.rs
  src/main.rs
Due: fmt, lint

feat: ui_wasabi
  Cargo.toml
  saba_core/src/constants.rs
  src/main.rs
  ui/wasabi/Cargo.toml
  ui/wasabi/src/app.rs
  ui/wasabi/src/lib.rs
Due: fmt, lint, taplo

feat: mouse event
  ui/wasabi/src/app.rs
Due: fmt

style: fmt
  ui/wasabi/src/app.rs
Due: fmt

feat: mouse button event
  ui/wasabi/src/app.rs
Due: fmt

feat: keyboard input
  ui/wasabi/src/app.rs
Due: fmt

feat: handle url
  saba_core/src/url.rs
  src/main.rs
  ui/wasabi/src/app.rs
  ui/wasabi/src/cursor.rs
  ui/wasabi/src/lib.rs
Due: fmt, lint

style: fmt
  saba_core/src/url.rs
Due: fmt, lint

feat: display text
  test1.html
  ui/wasabi/src/app.rs
Due: fmt

feat: link
  saba_core/src/renderer/dom/node.rs
  saba_core/src/renderer/layout/layout_view.rs
  saba_core/src/renderer/page.rs
  test1.html
  test2.html
  ui/wasabi/src/app.rs
Due: fmt, lint

fix: compute_position no update point
  saba_core/src/renderer/layout/layout_object.rs
  saba_core/src/renderer/layout/layout_view.rs
  ui/wasabi/src/app.rs
Due: fmt, lint

feat: chapter7 javascript
  saba_core/src/renderer/js/ast.rs
  saba_core/src/renderer/js/mod.rs
  saba_core/src/renderer/js/runtime.rs
  saba_core/src/renderer/js/token.rs
  saba_core/src/renderer/mod.rs
Due: fmt, lint

feat: pass tet_add_nums
  saba_core/src/renderer/js/ast.rs
Due: fmt, lint

style: fmt
  saba_core/src/renderer/js/ast.rs
Due: fmt, lint

feat: runtime
  saba_core/src/renderer/js/runtime.rs
Due: fmt, lint

style: fmt
  saba_core/src/renderer/js/runtime.rs
Due: fmt, lint

Path conditions:
  fmt: any of: **.rs
  lint: any of: **.rs and ^saba_core/
  taplo: any of: **.toml
  actionlint: any of: .github/workflows/**.ya?ml
